<!--<button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item>
    <span>ورود به سامانه</span>
    <md-icon>perm_identity</md-icon>
  </button>
  <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>Check voicemail</span>
  </button>
  <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
</md-menu>-->
<div fxLayout="row">
  <md-toolbar>

    <div fxFlex="20%">
      <img src="assets/logo64.png" alt="">
    </div>
    <div fxFlex="20%">
      <button md-raised-button>ثبت نام</button>
    </div>
    <md-toolbar-row>
      <span>Second Row</span>
    </md-toolbar-row>

    <md-toolbar-row>
      <span>Third Row</span>
    </md-toolbar-row>

  </md-toolbar>
</div>