<div fxLayout="row" fxLayoutAlign="center">
  <md-toolbar color="primary">
    <div fxFlex="7" fxFlexAlign="center stretch">
      <button md-button>ثبت نام</button>
    </div>
    <div fxFlex="7" fxFlexAlign="center stretch">
      <button md-button>ورود</button>
    </div>
    <div fxFlex="7" fxFlexAlign="center stretch">
      <button md-button [mdMenuTriggerFor]="profileMenu">پروفایل من</button>
    </div>
    <div fxFlex="7" fxFlexAlign="center stretch">
      <button md-button><md-icon>shopping_cart</md-icon></button>
    </div>
    <div fxFlex="10.5" fxFlexAlign="center stretch">
      <button md-button>دوره های آموزشی من</button>
    </div>
    <div fxFlex="7" fxFlexAlign="center stretch">
      <button md-button>دسته بندی</button>
    </div>
  </md-toolbar>
</div>

<!--define menu start-->
  <!--profile menu-->
  <md-menu #profileMenu="mdMenu" xPosition="before" yPosition="below">
    <button md-menu-item>مشخصات پروفایل</button>
    <button md-menu-item>لیست علاقه مندی ها</button>
    <button md-menu-item>پیامهای من</button>
    <button md-menu-item>راهنما</button>
    <button md-menu-item>تنظیمات حساب کاربری</button>
    <button md-menu-item>سابقه خرید</button>
    <button md-menu-item>خروج</button>
  </md-menu>
<!--define menu end-->