<!--<button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item>
    <span>ورود به سامانه</span>
    <md-icon>perm_identity</md-icon>
  </button>
  <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>Check voicemail</span>
  </button>
  <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
</md-menu>-->
<div fxLayout="row" fxLayoutAlign="center">
  <md-toolbar>
    <div fxFlex="10%">
      <img src="assets/logo64.png" alt="">
    </div>
    <div fxFlexOffset="90%"></div>
    <div fxFlex="5%" fxFlexAlign="end center">
      <button md-button>ورود</button>
    </div>
    <md-toolbar-row>
      <div fxFlexOffset="20px"></div>
      <div fxFlex="20%">
        <md-menu #appMenu="mdMenu">
          <button md-menu-item>گروه بندی</button>
          <button md-menu-item> خرید </button>
        </md-menu>
        <button md-button [mdMenuTriggerFor]="appMenu">دروس</button>
      </div>
    </md-toolbar-row>
  </md-toolbar>
</div>